#game-board {

    width: 100%;
    aspect-ratio: 4 / 3;
    background: black;
    border: 2px solid #00ff00;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}


#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#player img {
    width: 50px;
    height: auto;
    display: block;
}