

body {
    height: 100vh;
}

/* Game board */
#game-board {

    width: 60%;
    height: 400px;
    background: black;
    border: 2px solid #00ff00;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Controls panel */
#controls-panel {
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--accent-colour);
}

/* Player ship */
#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#player img {
    width: 50px;
    height: auto;
    display: block;
}